<!DOCTYPE html>
<html>
  <head>
    <meta name="color-scheme" content="light dark">
    <meta charset="utf-8" />
    <title>Casemove</title>
  </head>
  <style>
    .titleBarCustom {
      -webkit-app-region: drag;
    }
    .titleButtons {
      -webkit-app-region: no-drag;
    }
    .h-screen-fixed {
      height: calc(100vh - 1.8rem)
    }

    .h-screen-tradeup {
      height: calc(100vh - 3.5rem)
    }
    .h-screen-tradeup-windows {
      height: calc(100vh - 5.3rem)
    }

    </style>
  <body>
    <div id="root"></div>
  </body>
  <script>
    window.electron.ipcRenderer.once('ipc-example', (arg) => {
      // eslint-disable-next-line no-console
      console.log(arg);
    });

    window.electron.ipcRenderer.myPing();
  </script>
</html>
